// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;

// Dashboard
$DASHBOARD_HEADER: #7f7f7f;

$THEME_BMI: #3cce3e;
$THEME_BLOODPRESSURE: #c63ce7;
$THEME_CHOLESTEROL: #738dfc;
$THEME_SMOKE: #539afc;
$THEME_BLOODSUGAR: #c63be7;
$THEME_ALCOHOL: #ffb850;
$THEME_GMR: #f9b5b4;
$THEME_EXERCISE: #77d3c8;

$MYHEALTH_SUBTEXT: #99989a;

$MYHEALTH_TAG1: #fee0d7;
$MYHEALTH_TAG2: #f1f1f1;
