// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;

$THEME_COLOR: #ffd301;
$THEME_LIGHT: #fff9d9;

$GRAY: #e7e7e7;
$DARKGRAY: #aaaaaa;

$FONT_COLOR: #4e4e4e;

// Dashboard
$LAYOUT_HEADER: #7f7f7f;
$LAYOUT_BG: #f9e9af;
$LAYOUT_BORDER: #fcaf18;
$LAYOUT_HR: #f2f2f2;

// MyHealthCare
$MYHEALTH_SHADOW: rgba(0, 0, 0, 20%);
$MYHEALTH_TEXT: #393a3a;
$MYHEALTH_SUBTEXT: #99989a;
$MYHEALTH_TAGTEXT: #666666;
$MYHEALTH_TAG1: #fee0d7;
$MYHEALTH_TAG2: #f1f1f1;
$THEME_BMI: #3cce3e;
$THEME_BLOODPRESSURE: #c63ce7;
$THEME_CHOLESTEROL: #738dfc;
$THEME_SMOKE: #539afc;
$THEME_BLOODSUGAR: #c63be7;
$THEME_ALCOHOL: #ffb850;
$THEME_GFR: #f9b5b4;
$THEME_EXERCISE: #77d3c8;

// Chart
$CHART_TEXT_RED: #ff612d;
$CHART_TEXT_BLUE: #539afc;
$MARK_TEXT: #ffd301;
