@use 'styles/mixins/flexbox';
@use 'styles/constants/colors';

.dashboardBackground {
  width: 100vw;
  height: 100vh;
  @include flexbox.flexbox(center, center);
  background-color: colors.$DASHBOARD_BG;
}

.dashboardWrapper {
  width: 360px;
  height: 720px;
  background-color: colors.$WHITE;
  border: 3px solid colors.$DASHBOARD_BORDER;
}

.dashboardMain {
  height: calc(100% - 30px);
  padding: 0 20px;
  overflow-y: scroll;

  & > hr {
    border: 3px solid colors.$DASHBOARD_HR;
  }
}
